<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="./css/aui/aui.css" />
    <style>
        .normal {
            display: none;
        }

        .active {

            display: block;
        }
    </style>
</head>

<body>
    <div id="app">
        <!--导航 -->
        <header class="aui-bar aui-bar-nav normal" v-for="(vo,index) in list" v-bind:class="{'active': active_index == index}">{{vo.title}}</header>

        <!-- 尾部 -->
        <footer class="aui-bar aui-bar-tab" id="footer">
            <div class="aui-bar-tab-item " v-for="(vo,index) in list" v-on:click="switchFrame(index)"  v-bind:class="{'aui-active': active_index == index}" tapmode>
                <i class="aui-iconfont aui-icon-home" v-if="index == 0"></i>
                <i class="aui-iconfont aui-icon-menu" v-if="index == 1"></i>
                <i class="aui-iconfont aui-icon-my" v-if="index == 2"></i>
                <div class="aui-bar-tab-label">{{vo.title}}</div>
            </div>
        </footer>
    </div>
</body>


</html>
<script type="text/javascript" src="script/api.js"></script>
<script type="text/javascript" src="script/vue.js"></script>
<script type="text/javascript">
    apiready = function() {
        //适应全部导航栏
        var headerList = $api.domAll('header');
        for(var i=0;i<headerList.length;i++){
            $api.fixStatusBar(headerList[i]);
        }
        api.setStatusBarStyle({
            style: 'light',
            color: '#0064b0'
        });
        vm.init();
    }

    //实例化vue
    var vm = new Vue({
        el: "#app",
        data: {
            active_index: 0,
            list: [{
                title: "首页"
            }, {
                title: "分类信息"
            }, {
                title: "个人中心"
            }, ]
        },
        methods: {
            init: function() {
                var headerH = $api.dom('header').offsetHeight;
                var footerH = $api.dom('footer').offsetHeight;
                var frameH = api.winHeight - headerH - footerH;
                //apicloud 自带的函数
                api.openFrameGroup({
                    name: 'eosGroup',
                    background: '#fff',
                    scrollEnabled: false,
                    rect: {
                        x: 0, //左上角x坐标
                        y: headerH, //左上角y坐标
                        w: 'auto', //宽度，若传'auto'，页面从x位置开始自动充满父页面宽度
                        h: frameH, //高度，若传'auto'，页面从y位置开始自动充满父页面高度
                    },
                    index: 0,
                    frames: [{
                        name: 'index',
                        url: './html/index.html',
                        bgColor: '#f5f5f5'
                    }, {
                        name: 'index',
                        url: './html/category.html',
                        bgColor: '#f5f5f5'
                    }, {
                        name: 'index',
                        url: './html/user.html',
                        bgColor: '#f5f5f5'
                    }]
                }, function(ret, err) {
                    /*
                      if( ret ){
                           alert( JSON.stringify( ret ) );
                      }else{
                           alert( JSON.stringify( err ) );
                      }
                    */
                });
            },
            switchFrame: function(index) {
                // 如果当前页面为要切换的页面，则不切换frame
                if (vm.active_index == index) {
                    return false;
                } else {
                    vm.active_index = index;
                    api.setFrameGroupIndex({
                        name: 'eosGroup',
                        index: index,
                        scroll: true
                    });
                }

            }


        }


    });
</script>
